* {
    margin: 0px;
}

.container-bgd {
    display: flex;

}

.child-1-container-bgd {
    background: url("assets/background-8.jpg") no-repeat center center;
    background-size: cover;
    width: 40vw;
    height: 100vh;
}

.child-2-container-bgd {
    background: url("assets/background-1.jpg") no-repeat center center;
    background-size: cover;
    width: 60vw;
    height: 100vh;
}

.container-grid {
    position: absolute;
    right: 10%;
    left: 10%;
    top: 10%;
    bottom: 0%;
    border: 1px solid green;
}

.container-content-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.child-container-grid {
    width: 24%;
    height: 300px;
    border: 1px solid red;
}

#largets {
    flex-grow: 1;
    width: 50%;
    height: 66%;
    border: 1px solid blue;
}