body {
    margin: 0px;
    color: white;
}

p {
    font-size: 14px;
}

.flex-container {
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    flex-direction: row;
}

.child-1-bg {
    background: url("assets/background-8.jpg") no-repeat center center;
    background-size: cover;
    width: 40vw;
    height: 100vh;
}

.child-2-bg {
    background: url("assets/background-1.jpg") no-repeat center center;
    background-size: cover;
    width: 60vw;
    height: 100vh;
}

.child-3-grid {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 0%;
    z-index: 3;
}

.child-4-top {
    width: 100%;
    height: 80%;
}

.child-4-down {
    width: 100%;
    height: 20%;
}

.half-width {
    width: 50%;
    height: 100%;
}

.cell-equal {
    width: 50%;
    height: 50%;
    padding: 20px;
}

.full-size {
    width: 100%;
    height: 100%;
}

.p-hr {
    display: inline-block;
}

.p-hr::after{
    content: '';
    display: inline-block;
    width: 70%;
    height: 1px;
    background-color: white;
}

#cell-1 {
    background: url("assets/background-3.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
}

#cell-2 {
    background: url("assets/background-2.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
}

#cell-3 {
    background: url("assets/background-4.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
}

#cell-4 {
    background-color: rgb(227, 176, 11);
    position: relative;
}

#cell-5 {
    position: relative;
    padding: 40px;
}

#cell-6 {
    background: url("assets/background-5.jpg") no-repeat center center;
    background-size: cover;
    padding: 20px;
}

#cell-7 {
    background: url("assets/background-6.jpg") no-repeat center center;
    background-size: cover;
}

#cell-8 {
    background: url("assets/background-7.jpg") no-repeat center center;
    background-size: cover;
}

.text-container-bottom {
    align-self: flex-end;
    flex: 1;
}

.text-container-top {
    align-self: flex-start;
    flex: 1;
}

.text-container-center {
    align-self: center;
    flex: 1;
}



.separator-centred {
    width: 100%;
    justify-content: center;
    align-items: center;
}

hr {
    width: 40px;
    color: white;
    display: inline-block;
    margin: 0;
}


.p-box-white {
    margin: 0;
    color: black;
    background-color: rgb(235, 231, 231);
    text-align: center;
}

.p-box-transp {
    margin: 0;
    background-color: transparent;
    text-align: center;
    border: 1px solid rgb(235, 231, 231);
}

.p-inline-block {
    display: inline-block;
    padding: 20px 20px;
}

.p-block {
    display: block;
    padding: 20px 60px;
}