body {
    background-color: #133A4B;
}

h1, h2, h3, h4, h5 {
    color: white;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

h5 {
    letter-spacing: 4px;
}

p {
    color: #6c757d; 
}



.icon-container {
    width: 40%;
    padding-bottom: 40%;
    position: relative;
}

.icon-container:hover{
    animation-name: floating;
    animation-duration: 2s;
}

@keyframes floating {
    0% {
        top: 5px;
    }
    25% {
        top: -5px;
    }
    50% {
        top: 5px
    }
    75% {
        top: -5px
    }
    100% {
        top: 0px;
    }
}

#icon-1 {
    background: url("assets/pencil.png") no-repeat center center;
    background-size: contain;
}

#icon-2 {
    background: url("assets/use.png") no-repeat center center;
    background-size: contain;
}

#icon-3 {
    background: url("assets/social.png") no-repeat center center;
    background-size: contain;
}

#icon-4 {
    background: url("assets/community.png") no-repeat center center;
    background-size: contain;
}

#icon-5 {
    background: url("assets/tagging.png") no-repeat center center;
    background-size: contain;
}

#icon-6 {
    background: url("assets/privacy.png") no-repeat center center;
    background-size: contain;
}

#icon-7 {
    background: url("assets/timeline.png") no-repeat center center;
    background-size: contain;
}

#icon-8 {
    background: url("assets/widget.png") no-repeat center center;
    background-size: contain;
}

