    * {
        box-sizing: border-box;
    }

    body {
        background: #FFF0E9 url("assets/stars-bg.png") center center / cover no-repeat;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        margin: 0;
    }

    p {
        color: #94918F;
    }

    h1 {
        text-align: center;
        color: #70D5CB;
        font-weight: 600;
    }

    .tag-h1 {
        font-size: 50%;
        vertical-align: text-top;
    }

    .container {
        margin-left: 35px;
        margin-right: 35px;
    }

    .container>header {
        margin: 50px 0 45px 0;
    }

    .container-card {
        width: 100%;
        padding: 10px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card__body {
        padding: 20px;
    }

    .card__body__icon__container {
        border-bottom: 1px solid #C6D0DC;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card__body__icon {
        position: relative;
    }

    .card__body__icon::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #F8C92B;
        position: absolute;
        bottom: -3px;
        left: 0;
    }

    .card__body__icon span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50%;
    }

    .card__body__icon span svg {
        display: inline-block;
        width: 60%;
        height: 60%;
    }

    .card__body__icon p {
        color: white;
        letter-spacing: 4px;
        text-align: center;
        font-size: 0.5rem;
        margin: 0;
        padding: 20px 0;
    }

    .card__body__description p {
        text-align: justify;
        color: white;
        font-size: 0.8rem;
        font-weight: 500;
        padding-top: 20px;
        margin: 0px;
    }

    .card__footer {
        background-color: white;
    }

    .card__footer p {
        text-align: center;
        color: gray;
        font-size: 0.8rem;
        font-weight: 600;
        margin: 0;
        padding: 20px 0;
    }

    #card-yoga {
        background-image: linear-gradient(to bottom right, #F7CA33, #48E4B8);
    }

    #card-flexing {
        background-image: linear-gradient(to bottom right, #4BE3CF, #DB7DB2);
    }

    #card-standing {
        background-image: linear-gradient(to bottom right, #F65092, #F8BF38);
    }

    .cards-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 45px;
        margin-bottom: 45px;
        width: 100%;
        text-align: justify;
    }

    .btn-primary {
        display: inline-block;
        padding: 20px 20px;
        text-decoration: none;
        color: white;
        background-color: #70D5CB;
        letter-spacing: 3px;
        font-size: 50%;
    }

    /* Tablets */

    @media (min-width: 768px) {
        .container-cards-exercises {
            display: flex;
            flex-wrap: wrap;
        }
        .container-card {
            width: 50%;
        }
        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
        .first-header {
            margin: 50px 30px;
        }
        .container>header {
            margin: 50px 35px 45px 35px;
        }
    }

    /* Desktop */

    @media (min-width: 992px) {
        .container-card {
            width: 25%;
        }
        .cards-description {
            margin: 45px auto;
            width: 45%;
            text-align: center;
        }
    }