h1,
h2,
h3,
p {
    font-family: 'Lato', sans-serif;
}

body {
    max-width: 1200px;
    margin: auto;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.img-container-gallery {
    position: relative;
    padding-bottom: 100%;
    z-index: 1;
}

.overlay-color {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(rgba(255, 132, 0, 0.646), rgba(255, 132, 0, 0.708), rgba(255, 132, 0, 0.947));
    opacity: 0;
    z-index: 2;
}

.overlay-text {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
    z-index: 3;
}

.overlay-text>h3 {
    margin-bottom: 0;
}

.overlay-text>p {
    font-size: small;
    font-weight: 300;
}

.button-link {
    display: none;
    padding: 0px 6px;
    background-color: white;
    color: black;
}

.img-container-gallery:hover .button-link {
    display: inline-block;
}

.img-container-gallery:hover .overlay-color {
    opacity: 0.7;
}

#img-1 {
    background: url("assets/grid-1.jpeg") no-repeat center center;
    background-size: cover;
}

#img-2 {
    background: url("assets/grid-2.jpeg") no-repeat center center;
    background-size: cover;
}

#img-3 {
    background: url("assets/grid-3.jpeg") no-repeat center center;
    background-size: cover;
}

#img-4 {
    background: url("assets/grid-4.jpeg") no-repeat center center;
    background-size: cover;
}

#img-5 {
    background: url("assets/grid-5.jpg") no-repeat center center;
    background-size: cover;
}

#img-6 {
    background: url("assets/grid-6.jpeg") no-repeat center center;
    background-size: cover;
}


/* Tablet*/

@media (min-width: 576px) {
    .container-fluid {
        padding: 40px;
    }
}